name: Python CI

on:
  workflow_dispatch:
  push:
    branches:
      - main
    tags:
      - v*
  pull_request:

jobs:
  lint:    
    uses: darbiadev/.github/.github/workflows/python-lint.yaml@main 

  test:
    needs: lint
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
        python-version: [ "3.8", "3.9", "3.10", "3.11" ]

    uses: darbiadev/.github/.github/workflows/python-test.yaml@main
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python-version }}
    secrets: inherit

  publish:
    needs: test
    uses: darbiadev/.github/.github/workflows/python-pypi-publish.yaml@main
    secrets: inherit
